p {
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #97107a;
}
h1 {
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #97107a;
}
h3 {
    font-size: 12px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #ff9cd9;
}
#butterfly {
    overflow: hidden;
}
::selection {
    color: #74b5ff;
    text-shadow: 0px 0px 2px #74b5ff;
}
::-moz-selection {
    color: #74b5ff;
    text-shadow: 0px 0px 2px #74b5ff;
}
::-webkit-scrollbar {
    color: #74b5ff;
    width: 3px;
    height: 3px;
}
::-webkit-scrollbar-thumb {
    color: #74b5ff;
}